DirectoryIndex index.php index.html

ErrorDocument 404 /404.php

<IfModule php_module>
	php_value upload_max_filesize 20M
	php_value post_max_size 30M
</IfModule>

<IfModule php7_module>
	php_value upload_max_filesize 20M
	php_value post_max_size 30M
</IfModule>

<IfModule mod_rewrite.c>
	RewriteEngine On

	RewriteRule ^home/?$ /index.php [L]
	RewriteRule ^faq/?$ /faq.html [L]
	RewriteRule ^rules/?$ /rules.html [L]
	RewriteRule ^o/?$ /roblox.html [L]
	RewriteRule ^m/?$ /minecraft.html [L]
	RewriteRule ^a/?$ /anime.html [L]
	RewriteRule ^g/?$ /games.html [L]
	RewriteRule ^b/?$ /random.html [L]
	RewriteRule ^c/?$ /chat.php [L]
	RewriteRule ^blog/?$ /blog.php [L]
	RewriteRule ^n/?$ /blog.php [L]
</IfModule>
