DirectoryIndex index.php index.html

ErrorDocument 404 /404.php

<IfModule php_module>
	php_value upload_max_filesize 20M
	php_value post_max_size 30M
</IfModule>

<IfModule php7_module>
	php_value upload_max_filesize 20M
	php_value post_max_size 30M
</IfModule>

<IfModule mod_rewrite.c>
	RewriteEngine On

	RewriteRule ^home/?$ /index.php [L]
	RewriteRule ^404/?$ /404.php [L]
	RewriteRule ^c/?$ /chat.php [L]
	RewriteRule ^blog/?$ /blog.php [L]
	RewriteRule ^n/?$ /blog.php [L]

	RewriteRule ^o/?$ /board.php?b=o [L,QSA]
	RewriteRule ^m/?$ /board.php?b=m [L,QSA]
	RewriteRule ^a/?$ /board.php?b=a [L,QSA]
	RewriteRule ^i/?$ /board.php?b=i [L,QSA]
	RewriteRule ^b/?$ /board.php?b=b [L,QSA]
	RewriteRule ^faq/?$ /board.php?b=faq [L,QSA]
	RewriteRule ^rules/?$ /board.php?b=rules [L,QSA]
</IfModule>
